.outer-container { 
    background:#7fd9e3d8;
    box-shadow: 0px 5px 15px rgb(198, 238, 243);
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 60px 250px ;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #a3e8f0; 
    font-family: Arial, sans-serif;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
}

form .submit{
    height: 45px;
    margin: 35px 0;
    background-color: #12A3B2; 
    color:white;
    border:none;
    border-radius: 6px;
    margin-left:80px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .submit:hover {
    background-color: #06dcf4;
}

h2{
    color:#ec141c;
}
form p {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #03353f;
}

form input,
form textarea
{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    overflow: auto; 
    resize: none;
}

form input:focus
{
    border-color: #12A3B2;
    outline: none;
}



.outer-container { 
    background:#7fd9e3d8;
    box-shadow: 0px 5px 15px rgb(198, 238, 243);
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 60px 250px ;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #a3e8f0; 
    font-family: Arial, sans-serif;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
}

form .submit{
    height: 45px;
    margin: 35px 0;
    background-color: #12A3B2; 
    color:white;
    border:none;
    border-radius: 6px;
    margin-left:80px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .submit:hover {
    background-color: #06dcf4;
}

h2{
    color:#ec141c;
}
form p {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #03353f;
}

form input,
form textarea
{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    overflow: auto; 
    resize: none;
}

form input:focus
{
    border-color: #12A3B2;
    outline: none;
}


