{% load static %}  

<link rel="stylesheet" href="{% static 'css/booked.css' %}"> 

<h1>My Booked Events</h1>

<div class="outer-container">
    <div class="main-content"> 
        {% if booked %}
            <div class="card-container">
                {% for booking in booked %}
                    <div class="card">
                        <div class="event-header">
                            <h2>{{ booking.event.event_name }}</h2>
                            <p><strong>{{booking.event.actual_location }} |{{ booking.event.start_time|date:"j F Y | H:i" }} - {{ booking.event.end_time|date:"H:i" }}</strong> </p>
                        </div>

                        <div class="event-body">
                            <p class="event-description">{{ booking.event.info }}</p>
                        </div>
                
                        <form action="{% url 'cancel_booking' booking.event.event_id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="cancel-button" onclick="return confirmLinkClick()">Cancel Booking</button>
                        </form>
                    </div> 
                {% endfor %}
            </div> 
        {% else %}
            <p>You haven't booked any events yet.</p>
        {% endif %}
    </div>
</div>

<script>
    function confirmLinkClick() {
        return confirm("Are you sure you want to cancel booking?");
    }
</script>
