{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community request form</title>
    <link rel="stylesheet" href="{% static 'css/comm.css' %}"> 
</head>
<body>

<div class="outer-container">
    <div class="main-container">
<h2>Request to Create a Community</h2>

<form method="post" onsubmit="return showSuccessMessage()">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit" class= "submit">Submit Request</button>
</form>
</div>
</div>
</body>
</html>

<script>
    function showSuccessMessage() {
        alert("✅ Your community request has been submitted!");
        return true; // continue with form submission
    }
    </script>